@import "../../styles/variables";

.profile{
  .rotate-icon {
    .ant-btn .anticon {
      transform: rotate(90deg);
    }
  }
  .custom-tag {
    border: 1px solid;
    width: 100px;
    height: 26px;
    padding: 4px;
    border-radius: 20px;
    margin-right: 10px;
  }
  .time-height{
    .gx-card-widget .ant-card-body {
      height: 238px;
    }
  }
  .lender-loan{
    .gx-card-widget .ant-card-body {
      height: 353px;
    }
  }
  .lender-switch{
    .gx-card-widget .ant-card-body {
      height: 217px;
    }
  }

    .loan-officer-details{
    .gx-card-widget .ant-card-body {
      height: 237px;
    }
  }

  .mt-10{
    margin-top: 10px!important;
  }
  .mr-5{
    margin-right: 5px !important;
  }

  .ant-tag{
    padding: 3px 7px;
    border: 1px solid #000000;
  }

  .ant-btn{
    border-color: @color-primary;
    color: @color-primary;
  }
  .ant-btn:hover{
    border-color: @color-primary;
    color: @color-primary;
  }


}
