@import "variables";
body {
  .gx-app-login-container {
    max-width: 580px;
  }

  .gx-app-login-content {
    width: 768px;
  }

  .pl-40 {
    padding-left: 40px;
  }

  .pr-10 {
    padding-right: 10px;
  }

  .mt-10 {
    margin-top: 10px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }

  .mt-20 {
    margin-top: 20px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mt-30 {
    margin-top: 30px;
  }

  .mt-3 {
    margin-top: 3px;
  }

  .pb-10 {
    padding-bottom: 10px;
  }
  .ant-input-prefix{
    font-size: 22px;
  }
  .pull-right {
    float: right;
  }
  .pull-left {
    float: left;
  }
  .text-center{
    text-align: center
  }

  .d-flex {
    display: flex;
  }

  .border-none {
    border: none !important;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #ffffff;
  }

  .ant-menu-item-selected  > a {
    color: @color-primary;
  }

  .ant-btn-primary ,.ant-btn-primary:not([disabled]):not(.disabled):active, .ant-btn-primary:not([disabled]):not(.disabled).active, .ant-btn-primary:hover, .ant-btn-primary:focus  {
    background-color: @color-primary !important;
    border-color: @color-primary !important;
  }
  .ant-btn-danger, .ant-btn-danger:not([disabled]):not(.disabled):active, .ant-btn-danger:not([disabled]):not(.disabled).active, .ant-btn-danger:hover, .ant-btn-danger:focus {
    background-color: @color-secondary !important;
    border-color: @color-secondary !important;
  }

  .gx-btn-primary:not([disabled]):not(.disabled):active, a.gx-btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled):active, .gx-btn-primary:not([disabled]):not(.disabled).active, a.gx-btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled).active {
    background-color: @color-secondary !important;
    border-color: @color-secondary !important;
  }

  .ant-btn-primary.disabled, .ant-btn-primary:disabled {
    background-color: @color-primary !important;
    border-color: @color-primary !important;
  }

  .ant-badge:not(:last-child) {
    margin-right: 0;
    padding-top: 23px;
  }

  .ant-badge {
    margin-bottom: 0;
  }

  a, .gx-link, a:hover, .gx-link:hover, a:focus, .gx-link:focus {
    color: @color-primary;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: @color-primary;
    border-color: @color-primary;
  }
  .ant-checkbox-inner {
    width: 20px;
    height: 20px;
    border: 1px solid @color-primary;
    border-radius: 0;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: @color-primary;
  }
  .ant-checkbox-checked::after {
    border: 1px solid @color-primary;
  }

  .am-tab-bar-bar{
    border-top: none !important;

    .icon, .anticon {
      font-size: 25px;
    }

  }


  .mobile-view {
    .ant-layout-footer {
      border-top: none;
    }
    .am-tab-bar-bar::before {
      content: none !important;
    }
    &.contacts-route, &.messages-route, &.calender-route {
      .gx-main-content-wrapper {
        padding: 20px 0 0 0;
        background: #fff;
      }
    }
  }

  .align-items-center {
    align-items: center;
  }

  .mb-0 {
    margin-bottom: 0;
  }
  .pl-0 {
    padding-left: 0 !important;
  }

  .custom-img {
    width: 100px
  }

  .no-horizontal-scroll {
    overflow-x: auto;
  }

  .scroll-bar-nav, .scroll-bar-nav div:first-child{
    overflow-x: hidden !important;
  }

  .ant-layout-sider-collapsed .gx-layout-sider-scrollbar {
    height: calc(100vh) !important;
  }

  .gx-module-content-scroll {
     height: 100% !important;
  }
}



@media screen and (max-width: 600px) {
  body {
    .gx-app-login-content {
      max-width: 100%!important;
    }
  }
}
@media screen and (max-width: 350px) {
  body {
    .custom-img {
      width: 80px !important;
    }
  }
}

@media screen and (max-width: 320px) {
  body {
    .custom-img {
      width: 70px !important;
    }
  }
}

@media screen and (max-width: 320px) {
  body {
    .custom-img {
      width: 50px !important;
    }
  }
}

@media screen and (max-width: 992px){
  .ant-layout-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
    border-top: solid 2px #91afad !important;

  }
  .ant-layout > .gx-layout-content {
    margin-bottom: 70px;
  }
}

