@import "../../styles/variables";
.registration {

  .gx-app-login-content .ant-form-item-control-wrapper {
    width: 630px !important;
  }
  .gx-app-login-container {
    max-width: 768px !important;
  }

  .ml-100 {
    margin-left: 100px;
  }
  .ant-form-item {
    margin-bottom: 0px !important;
  }

  .ml-15 {
    margin-left: 15px;
  }

  .gx-btn-primary, a.gx-btn-primary, .btn-primary {
    color: #ffffff !important;
    background-color: @color-secondary !important;
    border-color: @color-secondary !important;
  }
  p {
     margin-bottom: 0 !important;
  }

  .input-code {
    .ant-input:placeholder-shown {
      text-overflow: ellipsis;
      font-size: 20px;
    }
    .ant-input {
      font-size: 20px;
    }
  }



}

