.registration {

  .gx-app-login-content .ant-form-item-control-wrapper {
    width: 66% !important;
  }
  .gx-app-login-container {
    max-width: 100% !important;
  }

  .ml-100 {
    margin-left: 100px;
  }
  .ant-form-item {
    margin-bottom: 0px !important;
  }
  /*.gx-app-login-container {
    .gx-app-container{
      max-width: unset ;
    }

  }*/

}
